<div id="job-view-container" class="container">
    <div class="row text-center">
        <a href="/" class="back-link main-color">back</a>
        <div id="img-container" class="col-md-12">
            <img src="/img/company.svg" alt="Company">
        </div>
        <div class="col-md-12">
            <h1 class="main-color">{{job.dataValues.title}}</h1>
            <p class="bold">Who They're looking for:</p>
            <p class="job-desc">{{job.dataValues.description}}</p>
            <p><span class="bold">The salary is:</span>${{job.dataValues.salary}}</p>
            <p>
                For you work at <span class="bold main-color">{{job.dataValues.company}}</span> send an email to <a class="main-color" href="mail:to{{job.dataValues.email}}">{{job.dataValues.email}}</a>
            </p>
        </div>
    </div>
</div>